<div class="container">
    <h1 class="top-text">Create a New Account</h1>
    
    <div class="input-group">
      <span class="fas fa-user"></span>
      <input type="text" id="inputUsername" placeholder="Username">
    </div>
  
    <div class="input-group">
      <span class="fas fa-user"></span>
      <input type="text" id="inputLastName" placeholder="Last Name">
    </div>
    
    <div class="input-group">
      <span class="fas fa-envelope"></span>
      <input type="text" id="inputEmail" placeholder="Email">
    </div>
    
    <div class="input-group">
      <span class="fas fa-id-card"></span>
      <input type="text" id="inputCIN" placeholder="CIN">
    </div>
    
    <div class="input-group">
      <span class="fas fa-phone"></span>
      <input type="text" id="inputPhoneNumber" placeholder="Phone Number">
    </div>
    
    <div class="input-group">
      <span class="fas fa-lock"></span>
      <input type="password" id="inputPassword" placeholder="Password">
    </div>
  
    <button class="submit-button" id="signUpButton">Sign Up</button>
  
    <p class="signup-text">Already have an account? <a href="#" id="goToSignIn">Sign In</a></p>
  </div>
  